.listbody {
    font-size: 20px;
    padding: 3px 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.listbody-todo{
    color:#9153aa;
    margin: 0 7px;
    font-weight:700;
    font-size:x-large;
}

.listbody span {
    width: 70%;
    color:#9153aa;
    padding: 6px 1px;
    font-weight:700;
    font-size:x-large;
}

.listbody .listbody_img {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.listbody_img img {
    width: 20%;
}
.listbody_img img:hover{
    cursor: pointer;
}